@using Trivi.Lib.Domain.Constants
@using Trivi.Lib.Domain.ViewModels.Gui
@using Trivi.WebGui.ViewComponents
@model AdminQuestionViewModel


@{
    string modalClass = "modal-message-all-players";
    string formClass = "form-message-all-players";
    string messageInputId = "form-message-all-players-input";
}


<div class="modal @modalClass" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message players</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="alerts-container"></div>

                <form class="@formClass py-3">
                    <fieldset>

                        <div class="input-feedback mb-2">
                            <input type="text" class="form-control form-control-sm input-feedback-input" id="@messageInputId" placeholder="Enter message" required />
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-sm btn-success btn-submit w-100" disabled>Send</button>
                        </div>

                    </fieldset>
                </form>



            </div>

        </div>
    </div>
</div>