@using Trivi.Lib.Domain.Constants

<!DOCTYPE html>
<html>
<head>
    <partial name="@PartialRazorFiles.Header" />
    <title>Waiting</title>
</head>
<body>
    <partial name="@PartialRazorFiles.BundleTop" />

    <div class="position-relative">
        <partial name="@PartialRazorFiles.PageLoading" />
    </div>

    <partial name="@PartialRazorFiles.Footer" />
    <script src="~/js/dist/game-waiting.bundle.js"></script>
</body>
</html> 