@using Trivi.Lib.Domain.Constants

<!DOCTYPE html>
<html>
<head>
    <partial name="@PartialRazorFiles.Header" />
    <title>Main Page</title>
</head>
<body>
    <partial name="@PartialRazorFiles.BundleTop" />

    <div class="container my-5">
        <h1>Home Page</h1>
    </div>

    <partial name="@PartialRazorFiles.Footer" />
    <script src="~/js/dist/home.bundle.js"></script>
</body>
</html>