@using Trivi.Lib.Domain.Constants

<!DOCTYPE html>
<html>
<head>
    <partial name="@PartialRazorFiles.Header" />
    <title>Main Page</title>
</head>
<body>
    

    <div class="container my-5">
        <h1>Trivi</h1>

        <p>This is the landing page.</p>
    </div>


    <partial name="@PartialRazorFiles.Footer" />
    <script src="~/js/dist/landing.bundle.js"></script>
</body>
</html>