// @import "_variables.scss";


// .bg-custom-color-primary-1 { background-color: $custom-color-primary-1; }


// .bg-custom-color-primary-1 { background-color: $custom-color-primary-1; }
// .bg-custom-color-primary-2 { background-color: $custom-color-primary-2; }
// .bg-custom-color-primary-3 { background-color: $custom-color-primary-3; }
// .bg-custom-color-primary-4 { background-color: $custom-color-primary-4; }
// .bg-custom-color-primary-5 { background-color: $custom-color-primary-5; }
// .bg-custom-color-primary-6 { background-color: $custom-color-primary-6; }
// .bg-custom-color-primary-7 { background-color: $custom-color-primary-7; }
// .bg-custom-color-primary-8 { background-color: $custom-color-primary-8; }
// .bg-custom-color-primary-9 { background-color: $custom-color-primary-9; }

// .bg-custom-color-gray-1 { background-color: $custom-color-gray-1; }
// .bg-custom-color-gray-2 { background-color: $custom-color-gray-2; }
// .bg-custom-color-gray-3 { background-color: $custom-color-gray-3; }
// .bg-custom-color-gray-4 { background-color: $custom-color-gray-4; }
// .bg-custom-color-gray-5 { background-color: $custom-color-gray-5; }
// .bg-custom-color-gray-6 { background-color: $custom-color-gray-6; }
// .bg-custom-color-gray-7 { background-color: $custom-color-gray-7; }
// .bg-custom-color-gray-8 { background-color: $custom-color-gray-8; }
// .bg-custom-color-gray-9 { background-color: $custom-color-gray-9; }
