@use "sass:map";
@import "_custom-bootstrap.scss";
// @import "_colors.scss";
 @import "_buttons.scss";


.form-spacing {
    margin-bottom: 50px;
}

.form-spacing-sm {
    margin-bottom: 25px;
}


body {
    padding-bottom: 100px;
}





@mixin loading-screen-base {
    position: absolute; /* Stay in place */
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 50; /* Sit on top */
    /* Center the loading content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-screen {
    @include loading-screen-base;
    height: 70vh;
}

.loading-screen.loading-screen-less {
    height: 40vh;
}


.form-question {
    .btn-submit,
    .btn-delete {
        width: 100%;
    }

    .btn-delete {
        margin-top: .5rem;
        @include btn-transition;

        &:hover {
            filter: brightness(93%);
        }
    }
}



.btn-reset {
    --bs-btn-active-border-color: transparent;
    --bs-btn-disabled-border-color: transparent;
}


.hover-grab:hover {
    cursor: grab;
}

.hover-pointer:hover {
    cursor: pointer; 
}


//.ranger {
//    .ranger-inputs {
//        display: flex;
//        align-items: center;
//    }

//    .ranger-value {
//        margin-left: 12px;
//    }
//}

.ranger {
    .ranger-display {
        display: flex;
        justify-content: center;
    }
}