@use "sass:map";
@import "_custom-bootstrap.scss";
// @import "_colors.scss";
// @import "_buttons.scss";


.form-spacing {
    margin-bottom: 50px;
}

.form-spacing-sm {
    margin-bottom: 25px;
}


body {
    padding-bottom: 100px;
}





