@using Trivi.Lib.Utility
@model Trivi.Lib.Domain.TableViews.ViewCollection


<li class="list-group-item collections-list-item" data-collection-id="@Model.Id">

    <div class="d-flex justify-content-between align-items-center">
        <a href="@Model.UriGui">@Model.Name</a>
        <div>@Model.CreatedOn.ToDisplayDateOnly()</div>
    </div>

</li>

