@using Trivi.Lib.Domain.ViewModels.Gui
@model CollectionPageLayoutModel<CollectionQuestionsPageVM>


@{
    var containerClass = "question-editors";
    var spinnerContainerClass = "question-editors-spinner";
    var formsContainerClass = "question-editors-forms";
}


<div class="container d-flex justify-content-around mt-3">

    <div class="w-50">

        <div class="@containerClass position-relative">
            <div class="@spinnerContainerClass loading-screen loading-screen-less d-none">
                <partial name="@PartialRazorFiles.SpinnerCenter" />
            </div>

            <div class="@formsContainerClass d-none">
                <partial name="~/Views/Pages/Collection/Questions/_FormShortAnswer.cshtml" />
                <partial name="~/Views/Pages/Collection/Questions/_FormTrueFalse.cshtml" />
                <partial name="~/Views/Pages/Collection/Questions/_FormMultipleChoice.cshtml" />
            </div>
        </div>

    </div>

</div>
