@using Trivi.Lib.Domain.ViewModels.Gui
@model CollectionPageLayoutModel<CollectionQuestionsPageVM>

@{
    Layout = $"~/{GuiPages.CollectionLayout}";
}

@section Body {

    <div class="position-relative" id="questions-content">

        <partial name="@PartialRazorFiles.PageLoading" />

        <div class="container-fluid">

            <div class="row p-0">

                <div class="col-lg-2 p-0">
                    <partial name="~/Views/Pages/Collection/Questions/_SidebarLeft.cshtml" />
                </div>

                <div class="col-lg-8">
                    <partial name="~/Views/Pages/Collection/Questions/_Main.cshtml" />
                </div>  

                <div class="col-lg-2 p-0">
                    <partial name="~/Views/Pages/Collection/Questions/_SidebarRight.cshtml" />
                </div>
            </div>
        </div>
    </div>

}


@section Footer {
    <script src="~/js/dist/collection-questions.bundle.js"></script>
}
