@using Trivi.Lib.Domain.ViewModels.Gui
@model CollectionPageLayoutModel<CollectionQuestionsPageVM>

@{
    Layout = $"~/{GuiPages.CollectionLayout}";
}

@section Body {

    <h1>Collection Questions</h1>

}


@section Footer {
    <script src="~/js/dist/collection-questions.bundle.js"></script>
}
